<% layout('layouts/boilerplate') %>

<h1><%= profile.name %></h1>
<h3><%= profile.title %></h3>
<img src="<%= profile.image %>" alt="<%= profile.name %>" />

<h4>Favorite Quote:</h4>
<p>
  "<b><i><%= profile.quote %></i></b
  >"
</p>

<hr />
<h3>Interview Answers:</h3>

<h5>
  What does a typical day look like as a developer with Station 8 look like?
</h5>
<p><%= profile.questionOne %></p>

<h5>What are some projects that I would work on at Station 8?</h5>
<p><%= profile.questionTwo %></p>

<h5>What does your ideal candidate look like?</h5>
<p><%= profile.questionThree %></p>

<h5>What are some of the challenges that this position would face?</h5>
<p><%= profile.questionFour %></p>

<h5>Who would I work closely with?</h5>
<p><%= profile.questionFive %></p>

<h5>What is your favorite office tradition?</h5>
<p><%= profile.questionSix %></p>
<footer>
  <p>
    <a class="btn btn-info" href="/profiles/<%= profile._id %>/edit"
      >Edit Profile
    </a>
  </p>

  <a class="btn btn-primary mb-5" href="/profiles">All Users</a>
</footer>
